PORT=3000
FACEBOOK_VERIFY_TOKEN=your_facebook_verify_token
SLACK_BOT_TOKEN=your_slack_bot_token
SLACK_CHANNEL_ID=your_slack_channel_id
KAFKA_BROKERS=localhost:9093
MONGO_URI=mongodb://localhost:27017/nest
